@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffff;
  background-image: url(./images/pattern-circles.svg),
    url(./images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-position: center 57px, 0 0;
  font-family: "Manrope", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 89px;
  text-align: center;
  color: rgba(41, 51, 86, 1);
  font-size: 20px;
  line-height: 27px;
  font-weight: 900;
}

h2 {
  color: rgba(132, 142, 173, 1);
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  max-width: 22ch;
  margin-top: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 64px;
  box-shadow: 10px 10px 5px rgba(127, 137, 185, 0.15);
}

h3 {
  margin-top: 34px;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  color: #848ead;
}

.pricing input {
  position: relative;
  -webkit-appearance: none;
  width: 279px;
  height: 8px;
  margin-top: 41px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.pricing input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: #80fff3;
  border-radius: 50%;
  border: 1px solid #80fff3;
  cursor: pointer;
}

.pricing input::-moz-range-progress {
  background: #80fff3;
}

.slider {
  position: absolute;
  left: -275px;
}

.price-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  gap: 10px;
}

h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  color: #293356;
  line-height: 44px;
  text-align: center;
}

span {
  font-size: 14px;
  line-height: 19px;
  font-weight: 600;
  color: #848ead;
}

.billing-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 34px;
}

.billing-options p {
  font-size: 12px;
  font-weight: 600px;
  line-height: 16px;
  color: #848ead;
}

.billing-options .discount {
  color: #ff8d68;
  font-size: 10px;
  font-weight: 800;
  line-height: 14px;
  background-color: #feede8;
  border: 1px solid #feede8;
  border-radius: 9.5px;
  padding: 2px 8px 3px 7px;
}

.billing {
  -webkit-appearance: none;
  position: relative;
  width: 43px;
  height: 22px;
  border-radius: 25px;
  background-color: #ccc;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;
}

.billing::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  background-color: rgb(255, 255, 255);
  transition: left 0.3s;
}

.billing:checked {
  background-color: rgb(141, 221, 141);
}

.billing:checked::after {
  left: 70%;
}

.divider {
  border-bottom: 1px solid #ecf0fb;
  width: 327px;
  margin-top: 38px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.checks {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.each-check {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.checks label {
  color: #848ead;
  font-size: 12px;
  font-weight: 600;
  line-height: 16.39px;
}

.trial-btn button {
  margin-top: 32px;
  width: 170px;
  height: 41px;
  background-color: #293356;
  color: #becdff;
  border: 1px solid #293356;
  border-radius: 20.5px;
  padding: 12px 0;
  margin-bottom: 32px;
}
